* {
  margin: 0;
  padding: 0;
}
html {
  color: rgb(238, 236, 236);
  background-color: black;
}

.container {
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(net-bg.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
}
.nav-bar {
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.lang-selector {
  width: 120px;
  height: 30px;
  padding-left: 25px;
  background: transparent;
  color: white;
  border-radius: 5px;
  display: inline-block;
}
.sign-btn {
  background-color: red;
  color: white;
  width: 72px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  margin-left: 10px;
  display: inline-block;
}
.select-box svg {
  position: absolute;
  margin-top: 6px;
  margin-left: 6px;
}

.sign-btn:hover {
  background-color: #b80f17;
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}

.mid-sec {
  text-align: center;
  justify-content: center;
  padding-top: 200px;
}

.mid-sec h1 {
  font-size: 43px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}
.mid-sec p {
  color: #fff;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}
.main-sec-input {
  height: 56px;
  width: 370px;
  background: transparent;
  border: 0;
  border: 1px solid grey;
  color: #fff;
  font-size: 17px;
  padding-left: 20px;
  outline: none;
  border-radius: 5px;
}

.main-sec-input:hover {
  border: 1px solid green;
}

.main-sec-btn {
  border: 0;
  background-color: red;
  color: #fff;
  height: 57px;
  width: 203px;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 5px;
}

.main-sec-btn:hover {
  background-color: #b80f17;
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}

.spacer {
  height: 8px;
  background-color: rgb(51, 50, 50);
}
.body-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 150px;
}

.left-item {
  background-color: black;
}

.right-item {
  position: relative;
}

.right-item > video {
  position: absolute;
  left: 80px;
  top: 20%;
  z-index: -1;
}
.left-item h1 {
  padding-bottom: 10px;
  font-size: 50px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.left-item p {
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.spacer {
  height: 8px;
  background-color: rgb(51, 50, 50);
}

.left-item1 {
  position: relative;
  margin-bottom: 30px;
}
.small-img img {
  width: 60px;
  padding: 15px;
}
.small-img {
  border: 0;
  display: flex;
  position: absolute;
  bottom: 0;
  background-color: black;
  border-radius: 10px;
  margin-left: 135px;
  border: 2px solid grey;
  width: 360px;
  height: 100px;
}
.small-img p {
  padding-top: 15px;
}
.small-img p {
  display: flex;
  flex-direction: column;
}
.body-sec1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.right-item1 h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  padding-bottom: 10px;
  font-weight: bold;
}
.right-item1 p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.spacer {
  height: 8px;
  background-color: rgb(51, 50, 50);
}
.body-sec2 {
  display: flex;
  align-items: center;
}
.body-sec2 img {
  margin-left: 150px;
  margin-top: 30px;
}
.right-item2 {
  margin-left: 110px;
}

.right-item2 h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  padding-bottom: 10px;
  font-weight: bold;
}
.right-item2 p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.spacer {
  height: 8px;
  background-color: rgb(51, 50, 50);
}
.faq-heading {
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
.faq-container {
  padding: 40px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.faq {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  height: 30px;
  padding: 20px;
  padding-top: 25px;
  background-color: rgb(51, 50, 50);
}
.faq p {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.faq:hover {
  background-color: rgb(110, 110, 110);
  transition-duration: 0.5s;
}
.para-txt {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 30px;
  padding-bottom: 10px;
}

.spacer {
  height: 8px;
  background-color: rgb(51, 50, 50);
}
.footer-p {
  padding-left: 190px;
  padding-top: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffffb3;
}
.footer-sec {
  display: flex;
  padding-top: 30px;
  justify-content: space-evenly;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul a {
  color: #ffffffb3;
}
